doctype html
html( ng-app=render.hash, lang="es" )
	head( prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#" )
		base( href="/")

		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		meta( name="viewport", content="width=device-width, initial-scale=1" )
		link( href='https://fonts.googleapis.com/css?family=Poppins:400,600,500,300&subset=latin,devanagari,latin-ext' rel='stylesheet' type='text/css')
		link( rel="stylesheet", type="text/css", href=cache('ink.css') )
		link( rel="stylesheet", type="text/css", href=cache('flex.css') )
		link( rel="stylesheet", type="text/css", href=cache('start.css') )

		title( ng-bind-template="{{viewTitle}} {{viewTitle ? '- ' : '' }}Clan Digital" ) CLAN Digital

		//- OG
		meta( property="og:description", content="Clan Digital" )
		meta( property="og:locale", content="es" )
		meta( property="og:title", content="Clan Digital" )
		meta( property="og:type", content="article")
		meta( property="og:url", content="http://clandigital.opensie.org/" )

		//- FB
		meta( property="fb:app_id", content="512044862330230")
	
		//- Twitter
		meta( name="twitter:card", content="summary_large_image" )
		meta( name="twitter:site", content="@openClanDIGITAL")

		//- Carrusel
		meta( name="carrusel", content=cache('carrusel1-960.jpg') )
		meta( name="carrusel", content=cache('carrusel2-960.jpg') )
		meta( name="carrusel", content=cache('carrusel4-960.jpg'), property="og:image",)
		meta( name="carrusel", content=cache('carrusel3-960.jpg') )
		meta( name="carrusel", content=cache('carrusel5-960.jpg') )
		meta( name="carrusel", content=cache('carrusel6-960.jpg') )
		meta( name="carrusel", content=cache('carrusel7-960.jpg') )
		meta( name="carrusel", content=cache('carrusel9-960.jpg') )
		meta( name="carrusel", content=cache('carrusel10-960.jpg') )
		meta( name="carrusel", content=cache('carrusel11-960.jpg') )
		meta( name="carrusel", content=cache('carrusel12-960.jpg') )
		meta( name="carrusel", content=cache('carrusel13-960.jpg') )
		
	body.all-100( ng-controller="app as a" )
		.all-100.blur.minum( ng-height="a.image" )
			nav.ng-navigation.ng-grid.mosxh.bar
				ul.menu.horizontal.white.push-left
					li: a( href="/")
						img(src=cache('logo-33.png'))
						span.hide-all CLAN
				ul.menu.horizontal.white.push-right
					li: a( href="/donacion" ) Donativos
					li: a( href="/contacto" ) Contacto
					li
						a.fa.fa-share-alt
						ul.submenu
							li: a.fa.fa-facebook-official
							li: a.fa.fa-twitter
			nav.ng-navigation.ng-grid.mosxh
				ul.pagination.chevron
					li.previous: a.put( ng-click="a.isClick(-1)" ): span Atras
					li.next: a.put( ng-click="a.isClick(1)" ): span Siguiente

		.all-100.blur( ng-view )

		footer.ng-grid
			nav.ng-navigation.all-60.double-vertical-padding.push-center.align-center
				ul.orange.breadcrumbs.double-top-padding
					li: a.small( href="tel:+57301000000" ) (+57) 301000000
					li: a.small( href="mailto:clandigital@opensie.org" ) clandigital@opensie.org
					li: a.small( href="geo:?q=Ladirecion" ) Direccion
				ul.orange.breadcrumbs
					li: a.small( href="mailto:acdemic@opensie.org" ) acdemic@opensie.org
					li: a.small( href="http://opensie.org" ) OpenSie
					li: a.small( href="http://twitter.com/opensie" ) @OpenSie
					li: a.small( href="http://facebook.com/opensie" ) /OpenSie
				ul.orange.breadcrumbs.double-bottom-padding
					li: a.small Bogota
					li: a.small Colombia
		script(type="text/javascript", src=cache('lib.js') )
